$white: #ffffff;
$purple: #ED1F96;
$indigo: #231651;
$turquesa: #048BA8;
$user-card: #f10e44;
$problem-card: rgb(131, 173, 13);
$value-card: #0bc59a;
$revenue-card: #490ef1;
$costs-card: #009DFF;
$solution-card: #FF6200;
$metrics-card: #E100FF;
$channels-card: #00FF30;
$advantage-card: #53A9AC;
$user-card-50: rgba(241, 14, 68, .25);
$problem-card-50: rgba(131, 173, 13, .25);
$value-card-50: rgba(11, 197, 154, .25);
$revenue-card-50: rgba(73, 14, 241, .25);
$costs-card-50: rgba(0, 157, 255, .25);
$solution-card-50: rgba(255, 97, 0, .25);
$metrics-card-50: rgba(225, 0, 255, .25);
$channels-card-50: rgba(0, 255, 48, .25);
$advantage-card-50: rgba(83, 169, 172, .25);
